:root {
  --Red: #df0606;
  --Brick: #910808;
  --Brown: #613a05;
  --Orange: #f96a20;
  --Yellow: #f9cb06;
  --Gold: #bfa740;
  --Green: #248e0b;
  --Teal: #16999d;
  --Sky: #20c0f9;
  --Royal: #2039df;
  --Navy: #211b7e;
  --Purple: #6f0fbd;
  --Pink: #f25ae9;
  --Black: #000000;
  --Silver: #a6a6a6;
  --Grey: #4d4d4d;
  --White: #fff;
}

body {
  max-width: 700px;
  margin: 0 auto;
  text-align: center;
}

button {
  display: inline-block;
}

p {
  text-align: left;
}

.next-button,
.remove-button,
.add-button {
  float: right;
}

.previous-button {
  float: left;
}

.grid-container {
  display: grid;
  grid-row-gap: 1px;
  grid-column-gap: 3px;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(6, auto);
}

.day {
  width: 100%;
  border: 1px solid black;
  text-align: center;
  font-family: monospace;
  font-size: min(1rem, 2.5vw);
}

.today {
  font-weight: bold;
  color: white;
  background-color: black;
}

.favourite-team {
  text-align: left;
  color: white;
}

.new-team {
  text-align: left;
}

.favourite-team,
.new-team {
  margin: 2px 0;
  padding: 2px;
  overflow: auto;
}

.favourite-team > *,
.new-team > * {
  margin: 2px;
}

.game {
  color: white;
  margin: 2px;
  text-align: right;
}

/* Colours */

.Red {
  background-color: var(--Red);
}
.Brick {
  background-color: var(--Brick);
}
.Brown {
  background-color: var(--Brown);
}
.Orange {
  background-color: var(--Orange);
}
.Yellow {
  background-color: var(--Yellow);
}
.Gold {
  background-color: var(--Gold);
}
.Green {
  background-color: var(--Green);
}
.Teal {
  background-color: var(--Teal);
}
.Sky {
  background-color: var(--Sky);
}
.Royal {
  background-color: var(--Royal);
}
.Navy {
  background-color: var(--Navy);
}
.Purple {
  background-color: var(--Purple);
}
.Pink {
  background-color: var(--Pink);
}
.Black {
  background-color: var(--Black);
}
.Silver {
  background-color: var(--Silver);
}
.Grey {
  background-color: var(--Grey);
}

.iRed {
  color: var(--Red);
  background-color: var(--White);
}
.iBrick {
  color: var(--Brick);
  background-color: var(--White);
}
.iBrown {
  color: var(--Brown);
  background-color: var(--White);
}
.iOrange {
  color: var(--Orange);
  background-color: var(--White);
}
.iYellow {
  color: var(--Yellow);
  background-color: var(--White);
}
.iGold {
  color: var(--Gold);
  background-color: var(--White);
}
.iGreen {
  color: var(--Green);
  background-color: var(--White);
}
.iTeal {
  color: var(--Teal);
  background-color: var(--White);
}
.iSky {
  color: var(--Sky);
  background-color: var(--White);
}
.iRoyal {
  color: var(--Royal);
  background-color: var(--White);
}
.iNavy {
  color: var(--Navy);
  background-color: var(--White);
}
.iPurple {
  color: var(--Purple);
  background-color: var(--White);
}
.iPink {
  color: var(--Pink);
  background-color: var(--White);
}
.iBlack {
  color: var(--Black);
  background-color: var(--White);
}
.iSilver {
  color: var(--Silver);
  background-color: var(--White);
}
.iGrey {
  color: var(--Grey);
  background-color: var(--White);
}
